@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); 
@import "tailwindcss";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit',sans-serif;
}
body
{
    background: #F5F5F5;
}
a
{
text-decoration: none;
cursor: pointer;
color: inherit;
line-height: 1;
}
.navbar
{
    padding-left: 10% ;
    padding-right: 10%;
}

.btn
{
    background: #fff;
    color: #212121;
    border-radius: 30px;
    padding: 14px 25px;
    font-size: 15px;
    outline: 0;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn img
{
    width: 20px;
    margin-left: 10px;
}
.btn.dark-btn
{
    background:#212EA0;
    color: #fff;
}